@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  outline: 0;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .pointer {
    @apply cursor-pointer;
  }
  .ball {
    @apply rounded-full;
  }
  .check {
    @apply border border-blue-700;
  }
  .header-icon {
    @apply text-[16px] lg:text-[20px] pointer;
  }
}
